html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  line-height: 1.5;
  font-size: 1.4rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* variables css */
:root {
  /* colors */
  --color-title: #000000;
  --color-link: #3366cc;
  --color-text: #54595d;
  --color-button-hover:#447ff5;
  --border-button-color: #c6cbcf;
  --background-button-color: #f8f9fa;

  /* font */
  --font-size-title: 1.6rem;
  --font-size-title-link: 1.4rem;
  --font-size-text: 1.3rem;
  --font-weight-title: 700;  
  --font-weight-light: 400;
}

/* modificaciones generales */

.section__language-text,
.language,
.section-info__text,
.ection-link-container__text,
.footer__text {
  color: var(--color-text);
  font-size: var(--font-size-text);
}

.section__language-text--title,
.section-button__text,
.section-link-container__title,
.footer__text--blue {
  color: var(--color-link);
  font-size: var(--font-size-title);
}


/* header */
.header {
  width: 100%;
  text-align: center;
}
.header__logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.header__title {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-title);
}

/* main */

.section {
  width: 100%;
}

.section__esfera {
  background-color: #fff;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section__background {
  background-image: url(../img/Wikipedia_Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
  /* truco para centrar un elemento absolute - gracias google :D*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.section__languages {
  
  display: flex;
  flex-direction: row;  /* reunda la regla por defecto pero no importa */
  justify-content: space-between;
  text-align: center;
}

.section__language--short {
  width: 43%;
  margin: 0 auto;
}
.section__language--medium {
  width: 55%;
  margin: 0 auto;
}
.section__language--large {
  width: 60%;
  margin: 0 auto;
}