html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  line-height: 1.5;
  font-size: 1.4rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* variables css */
:root {
  /* colors */
  --color-title: #000000;
  --color-link: #3366cc;
  --color-text: #54595d;
  --color-button-hover:#447ff5;
  --border-button-color: #c6cbcf;
  --background-button-color: #f8f9fa;
  --background-color-gray: #F8F9FA;

  /* font */
  --font-size-title: 1.6rem;
  --font-size-title-link: 1.4rem;
  --font-size-text: 1.3rem;
  --font-weight-title: 700;  
  --font-weight-light: 400;
}

/* modificaciones generales */

.section__language-text,
.language,
.section-info__text,
.section-input__text,
.section-link-container__text,
.footer__text {
  color: var(--color-text);
  font-size: var(--font-size-text);
}

.section__language-text--title,
.section-button__text,
.section-link-container__title,
.footer__text--blue {
  color: var(--color-link);
  font-size: var(--font-size-title);
}


/* header */
.header {
  width: 100%;
  text-align: center;
}
.header__logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.header__title {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-title);
}

/* main */

.section,
.section-two {
  width: 100%;
  margin-bottom: 45px;
}

.section__esfera {
  background-color: #fff;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  /* border: 1px solid black; */
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section__background {
  background-image: url(../img/Wikipedia_Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
  /* truco para centrar un elemento absolute - gracias google :D*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* https://www.esthersola.com/css-centrar-postion-absolute/ */
}

.section__languages {
  
  display: flex;
  flex-direction: row;  /* redunda la regla por defecto pero no importa */
  justify-content: space-between;
  text-align: center;
}

/* modificar los espacios de separación */
.section__language--short {
  width: 43%;
  margin: 0 auto;
}
.section__language--medium {
  width: 55%;
  margin: 0 auto;
}
.section__language--large {
  width: 60%;
  margin: 0 auto;
}

/* --seccion buscador-- */

.section-input {
  display: flex;
  position: relative;
  width: 400px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 35px;
  border: 1.5px solid var(--border-button-color);
  border-radius: 2px;
}

.section-input__input {
  width: 100%;
  border: none;
  border-radius: 2px;
}

/* selector de idiomas */
.section-input__language-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50px;
  margin-right: 60px;
}

.section-input__text {
  font-size: var(--font-size-title);
}
.section-input__icon-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* icono de lupa del buscador */
.section-input__search-icon {
  background-color: var(--color-link);
  width: 60px;
  height: 43px; /* puesto de modo arbitrario para que luzca mejor */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estilos para los iconos */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-18 { font-size: 20px; }
.material-icons.md-light { color: rgba(250, 246, 246, 1); }
.material-icons.md-dim { color: rgba(0 , 0, 0, .4); }
.material-icons.md-blue { color:var(--color-link)}

/* botón leer en tu idioma */

.section-button {
  width: 250px;
  margin: 0 auto;
  border: 1px solid var(--border-button-color);
  border-radius: 3px;
}

.section-button__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 35px;
  border: none;
  background-color: var(--background-button-color);
  border-radius: 3px;

}

.section-button__text {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-text);
}

/* --------section información------ */

.section-two {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

/* info-containers */

.section-info {
  width: 30%;  
}

.section-info .section-info__container:last-child {
  background-color: var(--background-color-gray);
  padding-top: 10px;
  padding-right: 10px;
}


.section-links-container{
  width: 65%;
  max-width: 610px;
  margin: 0 auto;
}


.section-info__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 50px;
  margin-bottom: 25px;
}

.section-info__icon {
  width: 45px;
  position: absolute;
  left: 0;
}

.section-info__text--bold {
  font-weight: var(--font-weight-title);
  margin-bottom: 10px;
}
.section-info__text--bold + .section-info__text {
  margin-bottom: 20px;
}

.section-info__logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-info__badge {
  width: 110px; 
}

/* ---------links------- */

.section-links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.section-link-container {
  display: flex;
  flex-direction: column;
}

.section-link-container__item {
  width: 100%;
  max-width: 180px;
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  align-items: flex-start;
}


.section-link-container__icon {
  width: 35px;
  margin-right: 10px;
  margin-top: 5px;
}

.section-link-container__title {
  font-weight: var(--font-weight-light);
}

